NGCF/model/*
Data/*/*
NGCF/utility/__pycache__/*
Data/amazon-book/*
Data/README
data/__pycache__/generate_elliptic.cpython-310.pyc
Data/amazon-book/item_list.txt
Data/amazon-book/README.md
Data/amazon-book/test.txt
Data/amazon-book/train.txt
Data/amazon-book/user_list.txt
Data/gowalla/item_list.txt
Data/gowalla/README.md
Data/gowalla/test.txt
Data/gowalla/train.txt
Data/gowalla/user_list.txt
Data/amazon-book/item_list.txt
Data/amazon-book/README.md
Data/amazon-book/test.txt
Data/amazon-book/train.txt
Data/amazon-book/user_list.txt
Data/gowalla/item_list.txt
Data/gowalla/README.md
Data/gowalla/test.txt
Data/gowalla/train.txt
Data/gowalla/user_list.txt
Data/gowalla/test.txt
Data/gowalla/*
*.txt
Data/amazon-book/item_list.txt
Data/amazon-book/README.md
Data/amazon-book/test.txt
Data/amazon-book/train.txt
Data/amazon-book/user_list.txt
Data/gowalla/item_list.txt
Data/gowalla/README.md
Data/gowalla/test.txt
Data/gowalla/train.txt
Data/gowalla/user_list.txt
NGCF/.DS_Store
NGCF/app.log
Data/amazon-book/item_list.txt
Data/amazon-book/README.md
Data/amazon-book/test.txt
Data/amazon-book/train.txt
Data/amazon-book/user_list.txt
Data/gowalla/item_list.txt
Data/gowalla/README.md
Data/gowalla/test.txt
Data/gowalla/train.txt
Data/gowalla/user_list.txt
NGCF/wandb/*
Data/amazon-book/*
Data/amazon-book/item_list.txt
Data/README
README.md
Data/amazon-book/test.txt
Data/amazon-book/README.md
Data/amazon-book/train.txt
Data/gowalla/item_list.txt
Data/amazon-book/user_list.txt
Data/gowalla/README.md
Data/gowalla/test.txt
Data/gowalla/train.txt
Data/gowalla/user_list.txt
NGCF/dg_model_args_with_features.pkl
NGCF/__pycache__/NGCF.cpython-310.pyc
NGCF/eval/app.log
NGCF/eval/__pycache__/eval.cpython-310.pyc
NGCF/eval/__pycache__/exp_config.cpython-310.pyc
NGCF/utility/eval_utils/__pycache__/data.cpython-310.pyc
README.md
Data/amazon-book/item_list.txt
Data/amazon-book/test.txt
Data/amazon-book/train.txt
Data/amazon-book/user_list.txt
Data/gowalla/item_list.txt
Data/gowalla/README.md
Data/gowalla/test.txt
Data/gowalla/train.txt
Data/gowalla/user_list.txt
